
.left-triangle {
    width: 30vw;
    background-image: var(--card-bg-img-left);
    min-width: 25rem;
    max-width: 35rem;
    margin-top: 2rem;
}

.options-pane-position {
    position: fixed;
    top: 13vh;
    left: 2vw;
}

.options-pane-limits {
    min-width: 195px;
    max-width: 350px;

    max-height: 150px;
    min-height: 100px;
}


.cfl-border-grad {
    width: 60rem;
    background-image: var(--card-bg-img-right);
}

.cfl-container {
    margin-top: 2rem;
}

.float-none{
    float: none;
}

.cfl-heading-padding {
    padding-top: 5rem;
    padding-left: 3rem;
    padding-bottom: 5rem;
}

h1 {
    font-size: 2em;
}

.demo-component-min-width {
    min-width: 60rem;
}

.cfl-text-2-padding  {
    padding-left: 3rem;
    padding-bottom: 2rem;
}

