<div class="w-90 footer-background footer-position ml-5p 
            footer-height footer-color description-orientation 
            background-color-primary standard-border standard-shadow">
    
    <div class="overlay-anchor">
        <div class="overlay-1 standard-border"></div>
    
        <div class="w-50 pl-4 float-left footer-height line-height footer-color h-100 d-flex align-items-center">
            Created by:- Agnel Lazar Alappat
        </div>
            <div class="w-50 footer-height align-items-center d-flex">
                <div class="w-100">
                    <div class="w-40 btn-color float-right mr-4 standard-border standard-shadow">
                        <div class="basic-btn overlay-anchor">
                            <div class="overlay-1 elv-2 standard-border opacity-0"></div>
                            <div class="rest-content elv-3 position-relative">
                                <button (click)="btnClick()" class=" basic-btn float-right footer-color standard-border w-100 background-transparent">
                                    {{btnText}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>